<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="Ejercicio04.Properties.Settings.CrudWindowsFormConnectionString"
            connectionString="Data Source=PCDEMIRKO\SQLEXPRESS;Initial Catalog=CrudWindowsForm;User ID=Mirko;Password=M!rko2006#Server;Encrypt=False"
            providerName="System.Data.SqlClient" />
    </connectionStrings>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
    </startup>
</configuration>